fully_sup_SD/__pycache__/performance_metrics.cpython-311.pyc
fully_sup_SD/__pycache__/performance_metrics.cpython-312.pyc
fully_sup_SD/__pycache__/petseg_dataset.cpython-311.pyc
fully_sup_SD/__pycache__/petseg_dataset.cpython-312.pyc
fully_sup_SD/__pycache__/unet_resnet34_class.cpython-311.pyc
fully_sup_SD/__pycache__/unet_resnet34_class.cpython-312.pyc
fully_sup_SD/__pycache__/unet_resnet34_train.cpython-311.pyc
fully_sup_SD/__pycache__/unet_resnet34_train.cpython-312.pyc
fully_sup_SD/__pycache__/visualise_predictions.cpython-311.pyc
fully_sup_SD/__pycache__/visualise_predictions.cpython-312.pyc
fully_sup_SD/checkpoints/unet_epoch0_dice0.876.pth
fully_sup_SD/checkpoints/unet_epoch10_dice0.917_saved.pth
fully_sup_SD/checkpoints/unet_epoch1_dice0.891.pth
fully_sup_SD/checkpoints/unet_epoch2_dice0.905.pth
fully_sup_SD/checkpoints/unet_epoch3_dice0.905.pth
fully_sup_SD/checkpoints/unet_epoch4_dice0.910.pth
fully_sup_SD/checkpoints/unet_epoch5_dice0.915.pth
fully_sup_SD/checkpoints/unet_epoch6_dice0.913.pth
fully_sup_SD/checkpoints/unet_epoch7_dice0.919.pth
fully_sup_SD/checkpoints/unet_epoch8_dice0.915.pth
fully_sup_SD/checkpoints/unet_epoch9_dice0.917.pth
